table{
    margin: auto;
}
h1{
    text-align: center;
}
td{
    width: 100px;
    height: 100px;
}
.vertical{
    border-right: 1px solid black;
    border-left: 1px solid black;
}
.bottom{
    border-bottom: 1px solid black;
}
.top{
    border-top: 1px solid black;
}